$mc1400: 1400px; // PC

@mixin mc1400 {
  @media (max-width: ($mc1400)) {
    @content;
  }
}

/* reset */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a {
   text-decoration: none;
}
ul {
   list-style-type: none;
}
/* reset end */
/* 共通 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
   font-family: Helvetica, Arial,sans-serif;
   color: #808080;
}
textarea,input {
   font-family: Helvetica, Arial,sans-serif;
}
.hoverRemove {//読み込み時反応しないように制御
   transition: 0;
}
/* header */
img {
   max-width: 100%;
}
/* main */
main {
   width: 1360px;
   margin: 0 auto;
   @include mc1400 {
      width: 100%;
   }
}
/* IE用 (中央寄せ) */
@media all and (-ms-high-contrast: none){
   main{
    display: block;
   }
 }
   .message {
      margin-top: 304px;
      text-align: center;
      &_ttl {
         font-size: 85px; 
      }
      &_txt {
         font-size: 30px;
         margin-top: 164px;
         text-align: left;
      }
   }//message
   .member {
      margin-top: 80px;
      &_ttl {
         font-size: 30px;
      }
      &_lists {
         margin-top: 29px;
         display: flex;
      }
      &_list {
         display: block;
         width: 260px;
         margin-right: 16px;
         backface-visibility: hidden;
         @include mc1400 {
            width: calc(calc(100% / 5));
         }
         &:last-child {
            margin-right: 0;
         }
         &_parsonal {
            height: 700px;
            .name {
               margin: 0 5px;
               padding: 10px 20px 28px;
               border: #fff solid 1px;
               position: relative;
               top: 200px;
               color: #fff;
               font-weight: bold;
               transition: border .5s ease, color .5s ease;
               &_big {
                  font-size: 200px;
               }
               &_small {
                  display: block;
                  font-size: 30px;
               }
            }//name
            .txt {
               font-size: 20px;
               margin-top: 7px;
               &:last-child {
                  margin-top: 0;
               }
            }
         }//parsonal
         .parsonal {
            &_01 {
               background: url(../img/parsonal_01.png);
            }
            &_02 {
               background: url(../img/parsonal_02.png);
            }
            &_03 {
               background: url(../img/parsonal_03.png);
            }
            &_04 {
               background: url(../img/parsonal_04.png);
            }
            &_05 {
               background: url(../img/parsonal_05.png);
            }
         }
         &_comment {
            color: #0F0E0E;
            border: 1px solid #0F0E0E;
            margin-top: 7px;
            padding: 16px 20px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color .5s ease;
            &_txt {
               margin-top: 10px;
            }
         }
         &:hover {
            .name {
               &_01{
                  border: #FFB200 solid 1px;
                  color: #FFB200;
               }
               &_02{
                  border: #4285F4 solid 1px;
                  color: #4285F4;
               }
               &_03 {
                  border: #8443D0 solid 1px;
                  color: #8443D0;
               }
               &_04 {
                  border: #F2FC03 solid 1px;
                  color: #F2FC03;
               }
               &_05 {
                  border: #71F371 solid 1px;
                  color: #71F371; //52D452
               }
            }
            .comment {
               &_01{
                  background-color: #FFB200;
               }
               &_02{
                  background-color: #4285F4;
               }
               &_03{
                  background-color: #8443D0;
               }
               &_04{
                  background-color: #F2FC03;
               }
               &_05{
                  background-color: #71F371;//52D452
               }
            }
         }
      }
   }//member
   .contact {
      margin-top: 187px;
      &_ttl {
         font-size: 30px;
      }
      &_txt {
         margin-top: 29px;
         font-weight: bold;
      }
      form {
         margin-top: 28px;
         .contact_formarea {
            display: flex;
            textarea {
               resize: none; //リサイズ不可
               width: 1080px;
               height: 165px;
               margin-right: 16px;
               padding: 13px;
               border: 1px solid #080808;
               &::placeholder {
                  font-size: 12px;
                  font-weight: bold;
               }
            }
            &_right {
               display: flex;
               flex-flow: column;
              input {
                 width: 260px;
                 height: 46px;
                 padding: 13px;
                 border: 1px solid #080808;
                 &:nth-child(2) {
                    margin-top: 15px;
                 }
                 &::placeholder {
                  font-size: 12px;
                  font-weight: bold;
               }
              }
              input[type="submit"] {
               margin-top: 12px;
               border: solid 1px #080808;
               border-radius: 0;
               outline: none;
               background-color: #808080;
               color: #fff;
               font-weight: bold;
               }
            }
         }
      }
   }//contact
/* footer */
footer {
   margin-top: 133px;
   // padding: 64px 125px 31px 115px; //right:313px
   padding: 64px 0 31px;
   background-color: #707070;
   color: #fff;
   a:hover {
      opacity: .7;
   }
   .footerarea{
      display: flex;
      width: 1360px;
      margin: 0 auto;
      @include mc1400 {
         width: 100%;
      }
   }
   .link_lists {
      width: 430px;
   }
   .link_list {
      display: inline-block;
      margin-right: 68px;
      &:nth-child(3) {
         margin-right: 0;
      }
      &:nth-child(4) {
         margin-top: 60px;
         margin-right: 45px;
      }
      &:nth-child(5) {
         margin-top: 60px;
         margin-right: 0;
      }
      a {
         font-size: 20px;
         color: #fff;
      }
   }
   .sns {
      margin-left: auto;
      margin-right: 74px;
      &_list {
         display: inline-block;
         margin-right: 15px;
         &:last-child {
            margin-right: 0;
         }
         img {
            width: 56px;
         }
      }
   }
   .copy {
      width: 1360px;
      margin: 60px auto 0;
      font-size: 20px;
      text-align: right;
      @include mc1400 {
         width: 100%;
      }
   }
}
