@charset "UTF-8";
body {
  font-family: Helvetica, Meiryo;
  color: #333;
  background-color: #f6f6f6;
}
.personal-color {
  background-color: #4285f4;
  height: 8px;
}
.img-area {
  text-align:center;
  margin-bottom: 32px;
}
.description-area {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 128px;
}
.face, .content {
  width: 50%;
}
.title {
  border-left: 4px solid #4285f4;
  font-size: 32px;
  padding: 16px 0 16px 8px;
  vertical-align: middle;
}
p {
  font-size: 17px;
  padding: 16px 0;
}